$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-width: 190px;
}

h1,
h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 200;
}
